@import "jeet"
@import "nib"
@import "rupture"

/**
 * nib reset
 */
global-reset();

// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html
  box-sizing border-box
*, *:before, *:after 
  box-sizing inherit

/**
 * theme variables
 */

/*
 * light on dark
 */
/*
back     = #120D08
backmid  = #421614
mid      = #BF4E15
midfore  = #DB713B
fore     = #FAF2F8
*/
/**
 * dark on light
 */
back     = #F2f2f2
backmid  = #DB713B
mid      = #BF4E15
midfore  = #421614
fore     = #120D08
/**
 * breakpoints
 * use +below(var) or +above(var) to set a media query via rupture
 *
 * these variable are all set to breakpoint + 1px
 */
mobile            = 641px
tablet-portrait   = 769px
tablet            = 1025px
laptop            = 1141px
desktop           = 1441px
