/**
 * type for fonts and basic styles
 */
@import url('http://fonts.googleapis.com/css?family=Arvo:400,700')
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,700')
@import url('http://fonts.googleapis.com/css?family=Vollkorn')

body
  font normal normal 300 16px normal 'Open Sans' sans-serif
  color fore

h1
  font normal normal 300 36px normal 'Open Sans' sans-serif

h2
  font normal normal 700 18px normal 'Open Sans' sans-serif
  color midfore
