/**
 * type for fonts and basic styles
 */
@font-face
  font-family 'Open Sans'
  src url('../assets/fonts/opensans-light-webfont.eot')
  src url('../assets/fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/opensans-light-webfont.woff2') format('woff2'),
       url('../assets/fonts/opensans-light-webfont.woff') format('woff'),
       url('../assets/fonts/opensans-light-webfont.ttf') format('truetype'),
       url('../assets/fonts/opensans-light-webfont.svg#open_sanslight') format('svg')
  font-weight lighter
  font-style normal

@font-face
    font-family 'Open Sans'
    src url('../assets/fonts/opensans-bold-webfont.eot')
    src url('../assets/fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/opensans-bold-webfont.woff') format('woff'),
         url('../assets/fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../assets/fonts/opensans-bold-webfont.svg#open_sansbold') format('svg')
    font-weight bold
    font-style normal

@font-face
    font-family: 'Open Sans'
    src url('../assets/fonts/opensans-regular-webfont.eot')
    src url('../assets/fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/opensans-regular-webfont.woff') format('woff'),
         url('../assets/fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/opensans-regular-webfont.svg#open_sansregular') format('svg')
    font-weight: normal
    font-style: normal

body
  font normal normal normal 16px normal 'Open Sans' sans-serif
  color fore

h1
  font normal normal lighter 36px normal 'Open Sans' sans-serif

h2
  font normal normal bold 18px normal 'Open Sans' sans-serif
  color midfore
