@import "_base"

body
  background-color back
  font normal normal 400 16px 'Arvo' serif

header
  width 100%
  min-height 100px
  border 1px solid backmid
  color mid
  &h1
    transform translateY(-50%)

h1
  color midfore


