@import "_base"
@import "_type"

body
  background-color back

header
  width 100%
  min-height 100px
  border 3px solid backmid
  color mid

  h1
    transform translateY(10%)
    text-align center
    center(300px)

h1
  color midfore


